body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

#task_manager {
  background-color: whitesmoke;
  padding: 0 15px 15px;
  width: 500px;
  margin: 5em auto;
  border: 1px solid #ddd;
}

h3 {
  background: #346;
  text-align: center;
  color: #fff;
  padding: 5px 0;
  border-radius: 0 0 2px 2px;
}

ul {
  list-style-type: square;
  margin: 0 0 20px 0;
  line-height: 1.5;
}